.mainForm{
    width: calc(100% - 55px);
    margin: 0 20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.mainForm label {
    display: none;
}

.mainForm input {
    width: calc(100% - 60px);
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 8px;
    height: 30px;
}

.mainForm input::placeholder {
    color: lightgray;
    padding-left: 5px;
}

input.middle:focus {
    outline-width: 0;
}

.mainForm button {
    border-radius: 50%;
    background: #6a5bcdff;
    color: white;
    border: none;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.mainForm button svg{
    position: relative;
    top: 1px;
    width: 25px;
    height: 25px;
}

.mainForm button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
